@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Mohave:wght@600&display=swap');

/* landing page */
#landing-page-container {
    background: url('../images/landing-page-mobile.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    position: sticky;
}

h1 {
    font-family: 'Luckiest Guy';
    text-align: center;
    padding-top: 25px;
    font-size: 300%;
    text-shadow: 2px 2px #fff;
}

h2 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 180%;
    padding: 5px;
}
h3 {
    font-weight: 900;
    text-transform: uppercase;
}
#main-container {
    position: relative;
    font-family: 'Mohave';
    font-size: 120%;
    width: 300px;
    height: 600px;
    text-align: center;
    background-color: #b7e6d3;
    opacity: 0.8;
    border-radius: 20px;
    margin: 40px auto;
    padding: 25px;
}



#question-container {
    padding: 10px;
}

#answer-btns {
    display: flex;
    flex-direction: column;
    padding: 20px 0;

}

.btn {
    color: red;
    font-size: 110%;
    border: 1px solid green;
    padding: 10px 0;
    margin: 10px;
}

#counter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


  /* amended code from W3 school */
  /* modal content box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 
/* /amended code from W3 schools */

/* media queries */

@media only screen and (min-width: 769px) {
    #landing-page-container {
        background: url('../images/landing-page-tablet.png');
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh;
        background-size: cover;
        position: sticky;
    }
    h1 {
        font-size: 500%;
    }
    #main-container {
        width: 350px;
        height: 650px;
        font-size: 150%;
    }
}

/* javascript */

.hide {
    display: none;
}