@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;600;900&display=swap');

/* landing page */
#landing-page-container {
    background: url('../images/landing-page-mobile.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    position: sticky;
}

h1 {
    
}

/* media queries */

@media only screen and (min-width: 769px) {
    #landing-page-container {
        background: url('../images/landing-page-tablet.png');
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh;
        background-size: cover;
        position: sticky;
    }
}