@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Mohave:wght@600&display=swap');

/* landing page */
#landing-page-container {
    background: url('../images/landing-page-mobile.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    position: sticky;
}


h1 {
    font-family: 'Luckiest Guy';
    text-align: center;
    padding-top: 25px;
    font-size: 300%;
    text-shadow: 2px 2px #fff;
}

h2 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 250%;
    padding: 15px 0 0;
}
h3 {
    font-weight: 900;
    text-transform: uppercase;
}

.quiz-btn {
    text-transform: uppercase;
    font-size: 150%;
    border-radius: 5px;
    margin: 10px;
}


@media only screen and (min-width: 769px) {
    #landing-page-container {
        background: url('../images/landing-page-tablet.png');
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh;
        background-size: cover;
        position: sticky;
    }
    h1 {
        font-size: 500%;
    }
    #main-container {
        width: 350px;
        height: 650px;
        font-size: 150%;
    }
}

/* Quiz */

#main-container {
    position: relative;
    font-family: 'Mohave';
    font-size: 120%;
    width: 300px;
    height: 600px;
    text-align: center;
    background-color: #b7e6d3;
    opacity: 0.8;
    border-radius: 20px;
    margin: 40px auto;
    padding: 25px;
}



#question-container {
    padding: 10px;
}

#answer-btns {
    display: flex;
    flex-direction: column;
    padding: 20px 0;

}

/* .btn {
    color: red;
    font-size: 110%;
    border: 1px solid green;
    padding: 10px 0;
    margin: 10px;
} */

#counter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}



/* javascript */

.hide {
    display: none;
}

/*Modal content modified from Stack Overflow*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,1); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

p {
    padding: 10px;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    display: inline;
    padding: 2px 16px;
    background-color: #0cb482;
    color: white;
}


.modal-body {padding: 2px 16px;}

/* contact form */

.form-input {
    width: 100%;
    padding: 5px;
    margin: 5px;
    border-color: #000;
    border-radius: 3px;
    border-width: 3px;
}

input[type=text]:focus {
    outline-color: #0cb482;
}

input[type=email]:focus {
    outline-color:#0cb482;
}

textarea:focus {
    outline-color: #0cb482;
}

@media only screen and (min-width: 769px) {
    .form-input {
        width: 50%;
    }
}
