@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Mohave:wght@600&display=swap');

/* landing page */
#landing-page-container {
    background: url('../images/landing-page-mobile.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    position: sticky;
}

h1 {
    font-family: 'Luckiest Guy';
    text-align: center;
    padding: 25px;
    font-size: 300%;
    text-shadow: 2px 2px #fff;
}

h2 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 200%;
}

h3 {
    font-weight: 900;
    text-transform: uppercase;
}

.quiz-btn {
    text-transform: uppercase;
    font-size: 150%;
    border-radius: 5px;
    margin: 10px;
    background-color: #fefefe;

}

.home-page-btn {
    text-transform: uppercase;
    font-size: 150%;
    border-radius: 5px;
    margin: 10px;
    width: 75%;
    background-color: #fefefe;
}

.quiz-btn:hover {
    background-color: #0cb482ed;
}



@media only screen and (min-width: 769px) {
    #landing-page-container {
        background: url('../images/landing-page-tablet.png');
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh;
        background-size: cover;
        position: sticky;
    }
    h1 {
        font-size: 500%;
    }
}

/* quiz */
#main-container {
    position: relative;
    font-family: 'Mohave';
    color: #000;
    font-size: 120%;
    width: 300px;
    height: 600px;
    text-align: center;
    background-color: #b7e6d3;
    opacity: 0.8;
    border-radius: 20px;
    margin: 20px auto;
    padding: 25px;
}

#answer-btns {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.btn {
    font-size: 110%;
    border: 5px solid #000;
    border-radius: 3px;
    padding: 10px 0;
    margin: 10px 0 0;
}

.btn:hover {
    border-color: #fff;
    color: #fff;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

#counter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 400%;
    }
}

@media only screen and (min-width: 1440px) {
    #main-container {
        width: 400px;
        height: 650px;
        font-size: 140%;
    }
}

@media only screen and (min-width: 2560px) {
    h1 {
        font-size: 700%;
    }
    
    h2 {
        font-size: 300%;
        margin: 40px;
    }

    #main-container {
        width: 800px;
        height: 1100px;
        font-size: 225%;
        margin: 100px auto;
    }

    .quiz-btn {
        font-size: 200%;
        width: 50%;
    }

    #counter-container, h3 {
        font-size: 125%;
    }

    #answer-btns button {
        padding: 20px;
        margin: 20px;
    }
}

/* javascript */
.hide {
    display: none;
}

/*modal content modified from stack overflow*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,1);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-header {
    display: inline;
    padding: 20px 16px 0;
    background-color: #0cb482;
    color: white;
}

.modal-body {padding: 2px 16px;}
p {
    padding: 10px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* close button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*end of modal content modified from stack overflow*/

/* contact form */
.form-input {
    width: 100%;
    padding: 5px;
    margin: 5px;
    border-color: #000;
    border-radius: 3px;
    border-width: 3px;
}

textarea {
    resize: none;
}

input[type=text]:focus {
    outline-color: #0cb482;
}

input[type=email]:focus {
    outline-color:#0cb482;
}

textarea:focus {
    outline-color: #0cb482;
}

@media only screen and (min-width: 769px) {
    .form-input {
        width: 50%;
    }
}

/*footer*/
footer {
    display: flex;
    color: #000;
    font-size: 80%;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;  
}

#footer {
    padding: 0;
    margin: auto;
}